@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100..700;1,100..700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --font-family: 'IBM Plex Sans', sans-serif !important;
    --mono-font-family: 'IBM Plex Mono', monospace !important;
}

body, html, input, button, select, textarea {
    font-family: 'IBM Plex Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Sans', sans-serif !important;
}

code, pre {
    font-family: 'IBM Plex Mono', monospace !important;
}

.mermaid {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 1.25rem auto !important;
    background: transparent !important;
}

.mermaid svg {
    max-width: 100% !important;
    min-width: 400px !important;
    width: 100% !important;
    height: auto !important;
    margin: 0 auto !important;
}
